/* COLORS */
/*

ACM light-blue: #83cee2
ACM blue: #0182ac
ACM dark blue: #09357a
Jet (dark): #333232
Champagne pink (light): #EDDDD4
Light gray: #eee
Dark gray: #999
Text Gray: #686868
Background Gray: #f5f5f5

*/

@import "navbar.css";
@import "footer.css";

@import "pages/advice.css";
@import "pages/entertainment.css";
@import "pages/events.css";
@import "pages/home.css";
@import "pages/members.css";
@import "pages/resources.css";
@import "pages/advice.css";

body * { 
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container { padding: 0 !important }
  
html { font-size: 62.5% }

.app {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

h2 {
    font-size: 3.5rem !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    display: inline-block;
    background-image: linear-gradient(to right, #83cee2, #09357a);
    background-clip: none;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transform: scale(1);
    transition: all .5s;
}

h2:hover {
    transform: scale(1.2);
    letter-spacing: 0.8rem;
}

.section-title {
    margin-bottom: 8rem;
    text-align: center;
}

.tertiary-heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: #0182ac;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #0182ac;
    padding: 3px;
    transition: all .2s;
}
.btn-text:hover {
    background-color: #0182ac;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0 0 0, 15%);
    transform: translateY(-2px);
    transition: .4s;
}

.btn-text:active {
    box-shadow: 0 .5rem 1rem rgba(0 0 0, 15%);
    transform: translateY(0);
}

/* hides random white space on right side of the screen on DevTools phone screen-size */
html, body {
    overflow-x: hidden;
}


/* MEDIA QUERIES */


@media screen and (max-width: 1000px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 770px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 570px) {
    html {
        font-size: 45%;
    }
}

