/* NAVBAR */

.navbar {
    background-color: white;
    min-height: 5rem;
    border-top: 0.05rem solid #797878;
    border-bottom: 0.05rem solid #797878;
    padding: 0 !important;
}

.navbar a { 
    text-decoration: none;
    height: 5rem;
    
    display: flex;
    align-items: center;
}

.navbar a:hover {
    background-color: #eeeded;
}

.icon-link:hover { background-color: white !important }

.home-link-text {
    color: #797878;
    font-size: 2rem;
    padding: 0 2rem;
}

.link-text {
    color: #797878;
    font-size: 2rem;
    padding: 0 3rem;
}

.nav svg {
    color: #797878;
    font-size: 2rem;    
}

.home-link {
    font-weight: bold;
    padding-left: 0;
    padding-right: 1rem;
}

.acmIcon svg { 
    font-size: 4rem;
    color: #0182ac;
    margin-right: 2rem;
}

.links {
    text-decoration: none;
    
    display: flex;
    justify-content: center;
}