/* MEMBERS */

.members-section {
    position: relative;
    padding: 5rem 0;
    background-color: #f5f5f5;
}

.members .section-title { margin-bottom: 4rem }

.member {
    width: 80% !important;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0 0 0 / 10%);
    background-color: rgba(255 255 255 / 60%);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-5deg);
    margin-bottom: 4rem;
    transition: all .5s;
}

.member-img__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-clip-path: circle(80% at 50% 50%);
    clip-path: circle(80% at 50% 50%);
    transform: translateX(-1rem) skewX(5deg);
    position: relative;
    margin: auto 1rem;
}

.member-img {
    height: 100%;
    backface-visibility: hidden;
    transition: all .5s;
}

.member-text {
    transform: skewX(5deg);
    width: 90%;
    color: #686868;
}

.member__subtitle {
    font-weight: bold;
    color: #0182ac;
}

.member-img__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #09357a;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.member:hover {
    box-shadow: 0 0 4rem rgba(9 53 122 / 50%);
}

.member-img__shape:hover .member-img__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.member-img__shape:hover .member-img {
    transform: scale(0.8);
    filter: blur(3px) brightness(80%);
}

.members-btn {
    text-align: center;
    margin-top: 8rem;
}
