/* ENTERTAINMENT */

.entertainment a { text-decoration: none }
.entertainment li { list-style-type: none }

.entertainment-videos h2 { margin-top: 2rem }

.entertainment-videos,
.entertainment-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yt-channel {
    padding: 4rem;
}

.yt-channel h3 {
    padding-bottom: 2rem;
}

.yt-channel a { color: #83cee2 }

.yt-channel a:hover {
    color: #0182ac;
    border-bottom: 1px solid #83cee2;
}

.tech-news,
.tech-podcasts {
    width: 100%;
    margin-bottom: 4rem;
}

.ent-more-title {
    display: block;
    text-align: center;
}

.ent-more-list {
    font-size: 150%;
    padding-left: 25rem;
}