/* EVENTS */

.events-title {
    text-align: center;
}

.events-subtitle {
    padding: 40px;
}

.events-subtitle-text {
    font-size: 25px;
}

.events-image-box {
    height: 20vh;
    width: 25vw;
    padding: 40px;
}

.events-image-figure {
    float: left;
}

.events-image {
    height: 100%;
    width: 100%;
    border: 1px;
}

.events-description-box {
    padding: 70px;
}

.events-description {
    vertical-align: middle;
}