/* RESOURCES */

.resources-container
{
    margin: 3rem 12rem;
    background-color: #eee;
}


.resources-section-title {
    font-size: 30px;
    color:#09357a;
    text-transform:capitalize;
    text-align:center;
    position:relative;
}


.resources-section-text {
    font-size: 20px;
    color:white;
    font-style:italic;
    text-align:center;
    transition: all .2s ease-in-out; 
}

.resources-section-text:hover{
    transform:scale(1.05);
    color:black;
}

.resources-section{
    background-color:  #83cee2;
}