{% load static %}

<!DOCTYPE html>
<html>
<head>
<style> 
body {
  background-image: url({% static 'background.png' %});
  background-repeat: no-repeat;
}
</style>
    <title>events</title>
    <h1 align="center">Events</h1>
</head>
</head>
<body>

    <div style="padding:40px" >
    <p style="font-size:25px"><strong>Upcoming Events</strong></p>
    </div>


    <div style="padding:40px">
    <p style="font-size:25px"><strong>Previous Events</strong></p>


    <div>
      <p style="float: left;"><img src={%static 'gaming_industry_event.jpg' %} height="250px" width="200px" border="1px"></p>
      <div style="padding:70px">
      <p style="vertical-align: middle;"><strong>We look forward to seeing you tomorrow at our Gaming Industry Speaker Event at 1:00pm PST featuring speakers from Epic 
      Games, Roblox, Rockstar Games and Question Games. Take advantage of this great networking opportunity and enjoy a free lunch on us!
      Resources from event:   </strong></p>
      </div>
    </div>
    
    <div style="padding:40px">
      <p style="float: left;"><img src={%static 'interview_practice_event.jpg' %} height="250px" width="200px" border="1px"></p>
      <div style="padding:70px">
      <p style="vertical-align: middle;"><strong> ACM will be hosting another technical interview coding problem workshop this Tuesday at 1:00 PM PST. 
      All experience levels welcome!! Email agerami@sandiego.edu with any questions.
      Resources from event:   </strong></p>
      </div>
    </div>


    </div>
</body>
</html>