{% load static %}

<!DOCTYPE html>
<html>
<head>
<style> 
body {
  background-image: url({% static 'background.png' %});
}
</style>
    <title>computing resources</title>
    <h1 align="center">Events</h1>
</head>
</head>
<body>
    <div style="padding:40px" >
    <p style="font-size:25px"><strong>Upcoming Events</strong></p>
    <p style="font-size:25px"><strong>Previous Events</strong></p>
    <img src="{% static 'gaming_industy_event.jpg' %}" width = 150 height = 200 />
    </div>
</body>
</html>