<!DOCTYPE html>
<html>
<head>
    <title>USD ACM home</title>
    <h1 align="center" style="color:#4485b8;">Welcome to USD's Association for Computing Machinery!!!</h1>
</head>
<body>
    <div style="padding:80px">
    <p style="font-size:18px"><strong>ACM is an international community for anyone interested in computing. USD's chapter is for all students interested in computing, regardless of major or minor.
    If you are interested in collaborating with new people, enhacing your interviewing skills, networking with professionals in the field, resume workshops, or just
    hanging out with other students interested in computers, then join ACM! Meetings are held biweekly.</strong></p>
    </div>
    <div style="padding:40px">
    <p align="center" style="font-size:30px"><strong>Exec Members</strong></p>
    </div>
</body>
</html>